<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Weekend 2 Challenge</title>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
    <script src="/vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="/scripts/scripts.js" charset="utf-8"></script>
</head>

<body>
    <h1>Weekend 2 Challenge</h1>

    <h2>Calculator</h2>

    <div id="inputFields">
      <input id="inputOne" type="text" placeholder="x">
      <span id="operator">Ω</span>
      <input id="inputTwo" type="text" placeholder="y">

      <span id="solution"> ? </span>
    </div>

    <div class="mathButtons">
      <button type="button" name="button" id="add"> + </button>
      <button type="button" name="button" id="subtract"> - </button>
      <button type="button" name="button" id="multiply"> * </button>
      <button type="button" name="button" id="divide"> / </button>
      <button type="button" name="button" id="calculate"> =  </button>
      <button type="button" name="button" id="clear"> Clear</button>
    </div>

    <div class="answerField">
      <output name="result"></output>
    </div>
</body>

</html>
